body {
  font-size: 32px;
  color: rgb(238, 108, 151);
  text-align: center;
  font-weight: 700;
  background: url(../images/bg1.jpeg) repeat;
}

.container {
  position: relative;
  width: 560px;
  height: 560px;
  margin: 50px auto;
}
.btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.btn button {
  position: absolute;
  left: 50%;
  top: 50%;
  background: none;
  border: none;
  background-size: 100% 100%;
  cursor: pointer;
  outline: none;
}
.startBtn button {
  width: 140px;
  height: 60px;
  background-image: url(../images/startDemo.jpeg);
  margin-left: -60px;
  margin-top: -40px;
  box-sizing: border-box;
  border-radius: 30px;
}
.pauseBtn {
  display: none;
}
.pauseBtn button {
  width: 70px;
  height: 70px;
  background-image: url(../images/pause.jpeg);
  margin-left: -35px;
  margin-top: -35px;
  border-radius: 50%;
}

#snakeWrap {
  position: relative;
  width: 560px;
  height: 560px;
  border: 20px solid #73aded;
  background: url(../images/bg2.jpeg) no-repeat;
  background-size: 560px 560px;
}

.snakeHead {
  background-image: url(../images/shead.gif);
  background-size: cover;
  border-radius: 50%;
}
.snakeBody {
  background-color: #66fe00;
  border-radius: 50%;
}
.food {
  background: url(../images/eggs.jpeg);
  background-size: 100%;
  border-radius: 50%;
}
